<html>

<head>

    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png"></link>
        <link rel='stylesheet' href='/css/styles.css' />
    </head>
</head>

<body>
    <div class="main-content">
        <p>{{msg}}</p>
        {{>header}}
    </div>

    {{>footer}}
</body>

</html>